@font-face {
  font-family: 'Monument Extended';
  src: local('Monument Extended'),
      url(./fonts/PPMonumentExtended-Black.otf),
      url(./fonts/PPMonumentExtended-Light.otf),
      url(./fonts/PPMonumentExtended-Regular.otf)
  ;
}

* {
  font-family: 'Monument Extended';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


